#a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    height: 1000px;
}

#login_box{
    width: 200px;
    height: 100px;
    background-color: yellow;
    border: 10px solid pink;
    border-radius: 20px;
    box-shadow: 5px 5px 5px;
}

#id{
   margin-left: 10px;
}

#pw{
    margin-left: 10px;
    margin-top: 10px;
 }

#login{
    margin-top: 15px;
    margin-left: 30px;
}

#s{
    margin-top: 15px;
    margin-left: 15px;

}